@import "./variables.scss";
#about-us {
  background: $maroon;

  .about {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .special-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 40px;
  }
  .heading,
  .subheading {
    text-align: left;
  }
  .swiper {
    width: 100%;
  }

  .swiper-slide {
    width: 300px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    aspect-ratio: 1/1;
  }

  .swiper-slide img {
    position: absolute;
    display: block;
    width: 100%;
  }
  .bomb {
    position: absolute;
    top: -100px;
    left: 70%;
    width: 30%;
    z-index: 10;
  }
  .poof {
    position: absolute;
    top: 0;
    width: 15%;
    left: -2%;
  }
  @media (min-width: 1024px) {
    padding: 40px 0;
    .bomb {
      top: -50%;
      left: 75%;
      width: 15%;
    }
    .poof {
      width: 15%;
      left: -17%;
    }
    .swiper {
      width: 100%;
      padding-top: 20px;
    }
    .special-grid {
      gap: 40px;
      grid-template-columns: 1.5fr 1.5fr;
    }
    .heading,
    .subheading {
      text-align: left;
    }
  }
  @media (min-width: 1280px) {
    .poof {
      width: 15%;
      left: -22%;
    }
    .special-grid {
      gap: 80px;
      grid-template-columns: 1.1fr 1.5fr;
    }
  }
}
